/* CSS declarations go here */
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  border-width:0;
}

.btn-circle:hover, .btn-circle:focus {
  border-radius: 17px;
  width: 34px;
  height: 34px;
  border-width: 0;
}

@media screen and (max-width: 600px) {
  .btn-circle {
    margin-top: 20px;
    height: 15px;
    width: 15px;
    padding: 3px;
    font-size: 6px;
  }
}

#comment {
  margin: auto;
  width: 40em;
}

.tabs {
	margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 1px;
  margin-right: 1px;
}

.answered {
	background-color: #898787;
}

.next-previous {
  margin-top: 1em;
  margin-bottom: 1em;
}

#next {
  margin-left: 3em;
}

#previous {
  margin-right: 3em;
}

.reflection {
  margin-top: 1em;
  margin-bottom: 0;
}

.assessment-input {
	outline: none;
    text-align: center !important;
    padding: 5px 12px;
    font-size: 20px;
    border: 3px solid #e6e6e6;
    display: inline-block;
}

.assessment-button {
    color: white;
    padding: 6px 0px;
    background-color: #333333;
    border: 3px solid #262626;
    width: 240px;
    font-size: 20px;
    outline: none;
    transition: all 0.4s ease;
}

.assessment-button:hover {
	border: 3px solid white !important;
}

#message {
  display: none;
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 3000;
  box-shadow: 0px 5px 20px 0px black;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.error {
  background-color: #d9534f;
}

.success {
  background-color: #5cb85c;
}

#credits {
  font-size: .7em;
  margin: 1.5em;
  text-align: center !important;
}

.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}

.active td {
  background-color: lightblue !important;
}

.active-button {
  border-radius: 17px;
  border-color: lightblue !important;
  width: 34px;
  height: 34px;
  border-width: 3px !important;
}

.teacher-tabs {
  display: inline;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.inline {
  display: inline-flex !important;
}